<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Core/src/com/rr/core/component/builder/AntiSpringBootstrap.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.debug.ui.CONSIDER_INHERITED_MAIN" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.rr.core.component.builder.AntiSpringBootstrap"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="./config/corestrats/cme/cmeInstDump_dev.properties"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CoreStrats"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dapp.propertyTags=com.rr.core.algo.base.StratProps -Dapp.forceConsole=true"/>
</launchConfiguration>
