<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OM/src/com/rr/md/us/cme/tools/CMEFastFixSoftSampleClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.rr.md.us.cme.tools.CMEFastFixSoftSampleClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="10000000 127.0.0.1 0 0 0 1 2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OM"/>
</launchConfiguration>
